<div class="container">
  <h3 class="d-flex justify-content-center">
    <div style="background-color: #325b8610; " class="d-flex justify-content-center">
    Menu
    </div>
  </h3>
  <br>
  <div class="list-group p-0 font-weight-bold">
    <a class="list-group-item list-group-item-action text-center text-sm-left"
      routerLink="/addTrainer">Add Trainer</a>
    <a class="list-group-item list-group-item-action text-center text-sm-left"
      routerLink="/addHero" >Add Hero</a>
    <a class="list-group-item list-group-item-action text-center text-sm-left"
      routerLink="/heroesList" >Heroes Cards</a>

  </div>
</div>



