<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/menu"
      style="color: #325b86;"><span>Heroes</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " *ngIf="islogin" style="color: #325b86;"
            style="cursor: pointer;" (click)="modalLogout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="modal fade" id="confirmLogout" tabindex="-1"
  role="dialog" aria-labelledby="confirmLogout" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModal">!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          Are You Sure You Want To Logout?
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout()"
          style="color: #ffffff; background-color:#2f578f;">Yes</button>
        <button type="button" class="btn btn-secondary"
          style="color: #ffffff; background-color: #2f578f9e;"
          data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
