<main class="login-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center"
            style="background-color: #325b8626;">Add Hero </div>
            <div class="col  text-center" *ngIf="isLoading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onAddHero(newHeroForm)" #newHeroForm="ngForm" >
                <div class="form-group row">
                  <label for="heroId" class="col-md-4 col-form-label text-center text-sm-left"
                    >Id</label>
                  <div class="col-md-6">
                      <input type="text" id="heroId" class="form-control"
                        name="heroId" ngModel required>
                  </div>
              </div>
                <div class="form-group row">
                  <label for="newHeroName" class="col-md-4 col-form-label text-center text-sm-left"
                    >Name</label>
                  <div class="col-md-6">
                    <input type="text" id="newHeroName" class="form-control"
                      name="newHeroName" ngModel required >
                  </div>
                </div>
                <div class="form-group row">
                    <label for="suitsColors" class="col-md-4 col-form-label text-center text-sm-left"
                      >Suits Colors</label>
                    <div class="col-md-6">
                        <input type="text" id="suitColors" class="form-control"
                          name="suitsColors" ngModel required>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="startingPower" class="col-md-4 col-form-label text-center text-sm-left"
                    >Starting Power</label>
                  <div class="col-md-6">
                      <input type="number" id="startingPower" class="form-control"
                        name="startingPower" ngModel required>
                  </div>
              </div>
              <div class="form-group row justify-content-center">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ abilityDropdownValue}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="abilityDropdownValue= 'attacker'" >Attacker</a>
                    <a class="dropdown-item" (click)="abilityDropdownValue= 'defender'">Defender</a>
                  </div>
                </div>
              </div>
              <hr>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary" [disabled]="!newHeroForm.valid"
                      style="color: #ffffff; background-color: #2f578f;">
                        Send
                    </button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>

</main>

<div class="modal fade rtl" id="heroAddSucssModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        Hero saved
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"

          >close</button>
      </div>
    </div>
  </div>
</div>

